<p>Selecione um ou mais perfis de participantes que deseja enviar para o Classificador:</p>
  <div class="po-row">

    <div class="po-xl-7 po-lg-7 po-md-7 po-sm-7"></div>
    <div class="po-xl-3 po-lg-3 po-md-3 po-sm-3">
        <po-input
          p-placeholder="Pesquisar"
          p-icon="po-icon po-icon-search"
          p-clean="true"
        >

        </po-input>
    </div>
    <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
        <po-button
          p-label="Ver Filtros">
        </po-button>
    </div>

  </div>
<div class="grid">
  <po-grid
      [p-columns]="aCabGrid">
  </po-grid>
</div>

<footer>
  <div class="po-row">
    <div class="po-xl-5 po-lg-5 po-md-5 po-sm-5"></div>
    <div class="po-xl-5 po-lg-5 po-md-5 po-sm-5"></div>
    <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
      <po-button
        p-label="Avançar">
      </po-button>
    </div>
  </div>
</footer>
